
td:hover {
    background-color: yellow;
    CURSOR: POINTER;
  }

.cell {
    width: 20px;
    height: 20px;
   
}

.bomb {
    background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041, #F3686A);
    cursor: pointer;
}



.restart {
    
    height: 30px;
    display: flex;
    margin: 20px;
    margin-bottom: 22px;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;  

}



.body{
    
    background: linear-gradient(to bottom, #321585, #322585, #323585, #761818, #761818, #B54041, #B54041);
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
    margin: auto;


    width: 90%;
    height: 500px;
}


.stats{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
}

.bg{
    width: 60%;
    opacity: 0.7;
    background-color: aqua;
}

.modeButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}