
.cell {
    width: 20px;
    height: 20px;
}

.bomb {
    background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041, #F3686A);
    cursor: pointer;
}

.stopWatch {
    font-size: 1.5em;
    display: inline;
    background-color: green;
    height: 10;
    width: 100px;

}


.restart {
    width: 30px;
    height: 30px;
    position: fixed;

    margin: 20px;
    margin-bottom: 42px;
    position: relative;
    margin-left: 150px;
}

.h2 {
    background: rgb(37, 182, 32);
}

.body{
    width: 350px;
    height: 500px;
}
.score{
    background: blue;
    font-size: 1.5em;
    display: inline;
}